ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid white;
	background-color: gray;
	border-radius: 4px;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.2s;

}

li a:hover {
	transform: scale(1.1);
	box-shadow: 1px 1px 4px gray;
}

img {
	width: 5cm;
    height: 5cm;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 5px gray;
    padding: 5px;
    background: white;
    transition: 0.2s;
    opacity: 75%;
}
img:hover{
    transform: scale(1.2);
    opacity: 100%;
    box-shadow: 3px 3px 6px blue;
}
.isi1, .isi2, .isi3, .isi4{
	background-color: white;
	border: solid 1px white;
	padding: 50px;
	display: none;
	color: black;
	font-family: calibri;
	border-radius: 6px;
	box-shadow: 1px 1px 6px gray;
}

.active {
	font-weight: bold;
}
.back a {
	color: white;
	text-decoration: none;
	text-align: center;
	background-color: darkslategrey;
	padding: 10px 25px;
	border-radius: 4px;
	justify-content: center;
	border: none;
}